/*--------------------------------------------------------------
# breadcrumb head
--------------------------------------------------------------*/
.b-head {
  padding: 2rem 0 0 0;
  min-height: 4rem;
  position: sticky;
  top: 0rem;
  background-color: #fff;
  margin-bottom: 1rem;
}

.b-head:before {
  background-color: rgba(0, 0, 0, 0);
  inset: unset;
}

.b-head h2 {
  font-size: 2.5rem;
  color: #000;
}

/*--------------------------------------------------------------
# project detail
--------------------------------------------------------------*/
.project-details {
  
}

.project-content {
  display: flex;
  flex-direction: row;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.project-sidebar {
  overflow-y: scroll;
  height: -webkit-fill-available;
  width: 20rem;
  position: fixed;
  
  & a {
	color: #fff;
  }

  & ol {
	list-style-type: none;
  padding: 0 0 0 0.5rem;
  }

  & ul {
	list-style-type: none;
  padding: 0 0 0 0.5rem;
  }

  & li {
	text-align: left;
  }
  
}

/*--------------------------------------------------------------
# Content inner
--------------------------------------------------------------*/
.project-content-inner {
  max-width: 80%;
	
  & h1 {
    font-size: 3rem;
  }

  & h2 {
    font-size: 2rem;
  }

  & p {
    font-size: 1.4rem;
  }
  & ul {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  & b, strong {
    font-weight: bolder;

  }
  
}

.objective-inner {
  & li {
    font-size: 1.4rem;
  }
	
}
/*--------------------------------------------------------------
# Table of Content
--------------------------------------------------------------*/
.table-of-content-title {
  & ol {
	counter-reset: toc-counter;
	margin-top: 1rem;
	margin-bottom: 1rem;
  }

  & ol ol {
	margin-top: 1rem;
	margin-bottom: 1rem;
  }

  & ol ol li {
	margin-top: 1rem;
	margin-bottom: 1rem;
  }

  & li::before {
	counter-increment: toc-counter;
	content: counters(toc-counter, ".");
  }
}

.table-of-content-inner {
  position: fixed;
  margin-left: 79%;
}

/*--------------------------------------------------------------
# figure, table counter
--------------------------------------------------------------*/
.project-content-inner {
  counter-reset: fig-count table-count;
  padding: 2.5rem 6rem 0 1rem;
  margin-left: 20rem;
  min-height: 39rem;
  
  & figure figcaption {
	font-size: 1.2rem;
  }

  & figure figcaption::before {
	counter-increment: fig-count; /* Increment the value of section counter by 1 */
	content: " รูป " counter(fig-count) ": "; /* Display the word 'Figure: ', the value of
												section counter, and a space before the content
												of each figcaption */
  }

  & table caption::before {
	counter-increment: table-count;
	content: " ตาราง " counter(table-count) ": ";
  }

}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.project-content-inner {
  & table {
	border-collapse: collapse;
	border: 0px;
	font-size: 1rem;
	table-layout: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 2rem;
  }

  & th {
	font-size: 1.1rem;
  }

  & td, th {
	border: 0px;
	padding: 10px 20px;
	letter-spacing: 0.05rem;
  }

  & td {
	text-align: left;
  }

  & caption {
	padding: 10px;
	caption-side: top;
	text-align: center;
	font-size: 1.2rem;
  }
  
  & .dataframe {
	overflow-x: scroll;
	
	& table {
	  background-color: #f3f3f3;
	}
  }
}

.math-equation {
  font-size: 1.5rem;
}

/*--------------------------------------------------------------
# Chapter button
--------------------------------------------------------------*/
.chapter-button {
  text-align: center;
  
  & a {
	font-size: 1.7rem;
	letter-spacing: 2rem;
	}

  & button {
	color: #000;
	border-radius: 0.5rem;
	letter-spacing: 0.05rem;
	min-width: 25%;
	}

  & button:hover {
	color: #ffb800;
	}
}

/*--------------------------------------------------------------
# Chapter button
--------------------------------------------------------------*/
.code-button {
  color: #000;
  background-color: rgb(202 202 202);
  border-color: rgb(180 180 180);
}
